
<div class="search-container">
  <h1>Buscar Rutas</h1>
  <form class="search-form" (ngSubmit)="buscar()">
    <div class="form-group">
      <label for="origen">Origen</label>
      <input type="text" id="origen" [(ngModel)]="origen" name="origen" required style="width: 95%;">
    </div>
    <div class="form-group">
      <label for="destino">Destino</label>
      <input type="text" id="destino" [(ngModel)]="destino" name="destino" required style="width: 95%;">
    </div>
    <button type="submit">Buscar</button>
  </form>
  <div class="results" *ngIf="rutas.length > 0">
    <h2>Resultados</h2>
    <ul>
      <li *ngFor="let ruta of rutas">
        <a [routerLink]="['/linea', ruta.idLinea, '1']">{{ruta.codigo}} - {{ruta.nombre}} - {{ruta.modo}}</a>
      </li>
    </ul>
  </div>
</div>
